
Command Scripts/.idea/Command Scripts.iml
Command Scripts/.idea/misc.xml
Command Scripts/.idea/modules.xml
Command Scripts/.idea/workspace.xml
*.iml
*.xml
*.so
*.pyc
*.mp4
release
cmake-build-debug/
venv/
angles2.txt
__pycach__/
mav.parm
mav.tlog
mav.tlog.raw

Python-C\+\+ interface/build/

simulator/

*.log
